/* App default styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to bottom, #001220, #001f36);
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	line-height: 1.6;
}

/* Layer spacer styling */

.purple-layer {
	background-image: url(./images/svgs/purple-layers.svg);
}

.blue-wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.blue-wave svg {
	position: relative;
	display: block;
	width: calc(101% + 1.3px);
	height: 157px;
}

.blue-wave .shape-fill {
	fill: #203e56;
}

.purple-triangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.purple-triangle svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 295px;
}

.purple-triangle .shape-fill {
	fill: #2d2b55;
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.stacked-peaks {
	background-image: url(./images/svgs/stacked-peaks-haikei.svg);
}
